//Display errors with delay in foundation loading for the menu.
.remove-menu-fouc{
	width: 100%;
	@include breakpoint(small only) {
		.top-bar {
			display: none;
		}
	}

	@include breakpoint(medium up) {
		.title-bar {
			display: none;
		}
	}
}