$background-color: #424874;
$text-color: #fefefe;

#snackbar {
    background-color: $background-color;
    color: $text-color;
    text-align: center;
    border-radius: 2px;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}