<template>
<a :class="buttclass" title="Delete" :data-toggle="name">
	<i class="fas fa-trash-alt"></i>

	<div class="reveal" :id="name" :aria-labelledby="name" data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
		
		<slot></slot>

		<div class="grid-x grid-padding-x align-center" v-if="buttons">
			
			<div class="cell medium-5">
				<button class="button expanded" @click="$emit('confirmed')" data-close>
					Delete
				</button>
			</div>

			<div class="cell medium-5">
				<button class="button expanded" data-close>
					Cancel
				</button>
			</div>

		</div>

		<button class="close-button" data-close aria-label="Cancel Deletion" type="button">
			<span aria-hidden="true">&times;</span>
		</button>

	</div>
</a>
</template>

<script>
export default {
	props: { 
		name: { type: String, required: true },
		buttons: { type: Boolean, default: false },
		buttclass: { type: String, default: 'button tiny'}
	 },

	data() {
		return { }
	},

	methods: { },

	computed: { },

	mounted() {
		$(`#${this.name}`).foundation();
	},

	created() {	}
}
</script>

<style lang="scss" scoped>

</style>