<template>
	<table>
		<tbody>
			<tr>
				<th>{{ title }}</th> 
				<th></th>
			</tr>
		</tbody>

		<tbody>
			<template v-for="item in list">
				<tr v-if="editing != item.id">
					<td>{{ item.name }}</td>
					<td style="text-align: right;">
						<a class="button tiny" title="Edit" v-if="edit" @click="editer(item)">
							<i class="fas fa-edit"></i>						
						</a>
						<a class="button tiny" title="Delete" v-if="remove" @click="exterminate(item)">
							<i class="fas fa-trash"></i>
						</a>
					</td>
				</tr>

				<tr v-else>
					<td v-if="available == null">
						<input type="text" class="slim-input" v-model="editText" @keydown.enter.prevent="save">
					</td>
					<td v-else>
						<select v-model="editText">
							<option :value="null">None</option>
							<option v-for="node in unselected" :value="node">{{node}}</option>
						</select>
					</td>
					<td>
						<a class="button tiny" title="Save" @click="save">
							<i class="fas fa-save"></i>
						</a>
						<a class="button tiny" title="Cancel" @click="editing = null">
							<i class="fas fa-times"></i>
						</a>
					</td>
				</tr>
			</template>

			<tr v-if="push">
				<td v-if="available == null">
					<input class="slim-input" type="text" v-model="newItem" @keydown.enter.prevent="attach">
				</td>
				<td v-else>
					<select class="slim-input" v-model="newItem">
						<option :value="null" disabled>Please select a tag</option>
						<option v-for="node in unselected" :value="node">{{node}}</option>
					</select>
				</td>
				<td style="text-align: right;">
					<a class="button tiny" title="Save New" @click="attach">
						<i class="fas fa-save"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
export default {
	props: ['items', 'title', 'push', 'remove', 'edit', 'available'],

	data() {
		return {
			list: [],
			newItem: null,
			editing: null,
			editText: null
		}
	},

	methods: {
		exterminate(item) {
			axios.delete(this.remove + "/" + item.id)
				.then(r => {
					this.list.splice(
						this.list.findIndex( e => e.id == item.id ), 1 )
				});
		},

		attach() {
			let data = { name: this.newItem };

			axios.post(this.push, data)
				.then(r => {
					this.list.push(r.data);
					this.newItem = null;
				});
		},

		editer(item) {
			this.editing = item.id;
			this.editText = item.name;
		},

		save() {
			let data = {name: this.editText}

			axios.patch(this.edit + "/" + this.editing, data)
				.then(r => {
					this.list.splice(
						this.list.findIndex(e => e.id == this.editing), 1, r.data);
					this.editing = null;
				});
		}
	},

	computed: {
		unselected() {
			return this.available.filter(e => this.list.findIndex(i => i.name == e) === -1);
		}
	},

	mounted() {
		this.list = this.items;
	},

	created() {	}
}
</script>

<style lang="scss" scoped>
.button {
	margin-bottom: 0;
}

td, th {
	padding: .1rem .5rem;
}

tr > td:last-child {
	text-align: right;
}
</style>