<template>
	<transition name="fade">
		<div id="snackbar" 
            class="float-center" 
            v-if="messages.length != 0" 
            v-html="messages[0]">
		</div>
	</transition>
</template>

<script>
export default {
    data() { 
        return {
            messages : [],
            timer: 2500,
        }
    },
    
    created() {
        Event.$on('message', (msg) => this.messages.push(msg));
        Event.$on('messages', (msgs) => this.messages = [...this.messages, ...msgs]);
        setInterval(this.cycle, this.timer);
    },

    methods: {
        cycle : function() {
            if(this.messages.length > 0 && this.message_count != 0) 
                this.messages.shift();
            this.message_count = this.messages.length;
        },
    },
}
</script>